/* styles/detail.css */

.container {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
  }
  
  h2 {
    font-size: 3rem;
    color: #ff6600;
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 10px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    box-shadow: 2px 2px 4px #000000;
  }
  
  .col {
    padding: 20px;
  }
  
  .row {
    margin-bottom: 30px;
  }
  
  .dificultad {
    font-size: 25px;
    color: #1b00b1;
    font-style: oblique;
    text-shadow: 2px 2px 4px #ffffff;
  }
  